.sidebar-container {
    position: sticky;
    left: 0;
    top: 0;
}
.ps-sidebar-container{
    height: 100vh !important;
}
.sidebar-container .ps-sidebar-container {
    background-color: #203FC7 !important;
}
.sidebar-container .ps-menu-button {
    color: #FFFFFF !important;
}
.sidebar-container .ps-menu-button:hover {
    background-color: #1A1B1E2B !important;
}
.ps-menu-root {
    padding-top: 10px;
}
.sidebar-container .ps-menuitem-root.ps-active {
    background-color: #1A1B1E2B; 
    color: white;
}